

.rounded-1{
  border-radius: $rounded-1 !important;
}

.rounded-2{
  border-radius: $rounded-2 !important;
}
.rounded-3{
  border-radius: $rounded-3 !important;
}
.rounded-4{
  border-radius: $rounded-4 !important;
}
.rounded-round{
  border-radius: $rounded-round !important;
}
.rounded-pill{
  border-radius: $rounded-pill !important;
}

//.border-radius-lg-top{
//  border-radius: $border-radius-lg $border-radius-lg 0 0;
//}
//
//.border-radius-lg-bottom{
//  border-radius: 0 0 $border-radius-lg $border-radius-lg;
//}
//
//.border-radius-lg-left-top{
//  border-radius: $border-radius-lg 0 0 0;
//}
//
//.border-radius-lg-right-top{
//  border-radius: 0 $border-radius-lg 0 0;
//}
//
//.border-radius-lg-right-bottom{
//  border-radius: 0 0 $border-radius-lg 0;
//}
//
//.border-radius-lg-left-bottom{
//  border-radius: 0 0 0 $border-radius-lg;
//}
//
//
//.border-radius-clear{
//  border-radius: $border-radius-clear;
//}
//
//.border-radius-clear-top{
//  border-radius: $border-radius-clear $border-radius-clear 0 0;
//}
//
//.border-radius-clear-bottom{
//  border-radius: 0 0 $border-radius-clear $border-radius-clear;
//}
//
//.border-radius-clear-left-top{
//  border-radius: $border-radius-clear 0 0 0;
//}
//
//.border-radius-clear-right-top{
//  border-radius: 0 $border-radius-clear 0 0;
//}
//
//.border-radius-clear-right-bottom{
//  border-radius: 0 0 $border-radius-clear 0;
//}
//
//.border-radius-clear-left-bottom{
//  border-radius: 0 0 0 $border-radius-clear;
//}