

// font
body{
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans', sans-serif, Verdana;
  line-height: 1.5;
}

a{
  color: $link-color;
  &:hover{
    color: $link-hover-color;
    text-decoration: none;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active{
    color: $link-hover-color;
    text-decoration: none;
  }
  &:focus {
    color: $link-color;
  }
}