
// color
/* bootstrap color ================================ */
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$brown:   #602727 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "brown":      $brown,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$default:       darken($white, 2) !default;
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$brown:         $brown !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "default":    $default,
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "brown":      $brown
  ),
  $theme-colors
);

// color jumper
$theme-color-interval:   8%  !default;

// yiq lightness value
$yiq-contrasted-threshold:   150  !default;

$yiq-text-dark:      $gray-900  !default;
$yiq-text-light:     $white  !default;

$escaped-characters: (
                ("<", "%3c"),
                (">", "%3e"),
                ("#", "%23"),
                ("(", "%28"),
                (")", "%29")
) !default;

/* end bootstrap ================================ */



// Options
/* bootstrap option ========================*/
$enable-caret:             true !default;
$enable-rounded:           true !default;
$enable-shadows:           false !default;
$enable-gradients:         false !default;
$enable-transitions:       true !default;
$enable-prefers-reduced-motion-media-query:  true !default;
$enable-hover-media-query:   false  !default;
$enable-grid-classes:        true  !default;
$enable-pointer-cursor-for-buttons:    true !default;
$enable-print-styles:               true  !default;
$enable-responsive-font-sizes:      false  !default;
$enable-validation-icons:           true  !default;

/* end bootstrap ========================*/


/* bootstrap Spacing ========================*/
$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
                        (
                                0: 0,
                                1: ($spacer * 0.25),
                                2: ($spacer * 0.5),
                                3: ($spacer),
                                4: ($spacer * 1.5),
                                5: ($spacer * 3)
                        ), $spacers
);

$sizes: () !default;
$sizes: map-merge(
                        (
                        25: 25%,
                                50: 50%,
                                75: 75%,
                                100: 100%,
                                auto: auto
                        ), $sizes
);

/* end bootstrap ========================*/

// Body
/* bootstrap Spacing ========================*/
// Settings for  the <body> element.
$body-bg:    $white  !default;
$body-color:  $gray-900  !default;
/* end bootstrap ========================*/

// Selection
$selection-bg:    $primary  !default;
$body-color:     color-yiq($selection-bg) !default;

// Links
/* bootstrap Link ========================*/
$link-color:           $primary !default;
$link-decoration:      none !default;
$link-hover-color:    darken($link-color, 15%) !default;
$link-hover-decoration:        none !default;
/* end bootstrap ========================*/
$link-decoration-line:        underline  !default;
$link-hover-decoration-line:        $link-decoration-line;

// Paragraphs
// Style p element.
/* bootstrap Link ========================*/
$paragraph-margin-bottom: 1rem  !default;
/* end bootstrap ========================*/

// Grid breakpoints
// define the minimum dimensions at which your layout will change
/* bootstrap grid-breakpoints ========================*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

/* end bootstrap ========================*/

// Grid columns
// Set the number of columns and specify the width of gutter

/* bootstrap grid-columns ========================*/
$grid-columns: 12 !default;
$grid-gutter-width:  30px  !default;
$grid-row-columns: 6 !default;

/* end bootstrap ========================*/
$grid-gutter-width: $grid-gutter-width / 2;


// Components
// Define common padding and border radius sizes and more.
// line height, border, radius, boxShadow
/* bootstrap Components 1: line height, border, radius========================*/
$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius:  0.25rem !default;
$border-radius-lg: 0.3rem  !default;
$border-radius-sm: 0.2rem  !default;

$rounded-pill: 50rem  !default;
/* end bootstrap ========================*/
$rounded-1:                         0.25em !default;
$rounded-2:                         0.5em !default;
$rounded-3:                         0.75em !default;
$rounded-4:                         1em !default;
$rounded-5:                         1.25em !default;
$rounded-round:                     4em !default;

/* bootstrap Components 2: boxshadow ========================*/
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175)  !default;
/* end bootstrap ========================*/
$box-shadow-heavy-1:  1px 1px 2px rgba($black, 0.075) !default;
$box-shadow-heavy-2:  0.5px 1px 2px rgba($black, 0.075) !default;
$box-shadow-heavy-3:  -1px 1px 2px rgba($black, 0.075) !default;

/* bootstrap component 3: active */

// font
$font-size-base:              0.8rem !default;
$font-size-lg:                 $font-size-base * 1.25 !default;
$font-size-sm:                 $font-size-base * .875 !default;

// border
$border-radius-clear:         0   !default;
$border-radius:               2px !default;
$border-radius-lg:            5px !default;
$box-shadow-sm:               0 0 0 2px rgba($black, .075) !default;
$box-shadow:                  0 0 0 2px rgba($black, .15) !default;
$box-shadow-lg:               0 0 0 2px rgba($black, .175) !default;

// body
$body-color:                  $gray-600  !default;


// alert
$alert-padding-y:                   .75rem !default;
$alert-padding-x:                   1.25rem !default;

$alert-padding-y-sm:                   $alert-padding-y - 0.4rem !default;
$alert-padding-x-sm:                   $alert-padding-x - 0.3rem !default;
$alert-border-radius-lg:               $border-radius-lg !default;
$alert-border-radius-clear:               $border-radius-clear !default;

// badge
$badge-border-radius-lg:               $border-radius-lg !default;
$badge-border-radius-clear:               $border-radius-clear !default;

//
$link-color:                          $body-color !default;
$link-hover-color:                    lighten($body-color, 20%)  !default;

// button
$btn-border-width:                    0.0625rem             !default;
$btn-bg:                              transparent           !default;
$btn-bg-active:                       darken($white, 10%)   !default;
//$btn-padding-x:                       0.75rem                !default;
//$btn-padding-y:                       0.375rem                !default;
//
//$btn-padding-x-lg:                    $btn-padding-x + 0.1rem  !default;
//$btn-padding-y-lg:                    $btn-padding-y + 0.1rem  !default;
//
//$btn-padding-x-sm:                    $btn-padding-x - 0.1rem  !default;
//$btn-padding-y-sm:                    $btn-padding-y - 0.1rem  !default;


$btn-bg-level:                        -5                                !default;
$btn-border:                          0.25px solid darken($white, 5%)   !default;

$btn-outset-shadow:                   1px 1px 2px black                 !default;
$btn-inset-shadow:                    inset 1px 1px 2px black           !default;
$btn-inset-reverse-shadow:            inset -1px -1px 2px black         !default;

// Close
$close-font-size:                   $font-size-base !default;



