// color
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$brown:   #602727 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "brown":      $brown,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$default:       darken($white, 2) !default;
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$brown:         $brown !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "default":    $default,
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "brown":      $brown
  ),
  $theme-colors
);

  // font
$font-size-base:              0.8rem !default;
$font-size-lg:                 $font-size-base * 1.25 !default;
$font-size-sm:                 $font-size-base * .875 !default;

// border
$border-radius-clear:         0   !default;
$border-radius:               2px !default;
$border-radius-lg:            5px !default;
$box-shadow-sm:               0 0 0 2px rgba($black, .075) !default;
$box-shadow:                  0 0 0 2px rgba($black, .15) !default;
$box-shadow-lg:               0 0 0 2px rgba($black, .175) !default;

// body
$body-color:                  $gray-600  !default;


// alert
$alert-padding-y:                   .75rem !default;
$alert-padding-x:                   1.25rem !default;

$alert-padding-y-sm:                   $alert-padding-y - 0.4rem !default;
$alert-padding-x-sm:                   $alert-padding-x - 0.3rem !default;
$alert-border-radius-lg:               $border-radius-lg !default;
$alert-border-radius-clear:               $border-radius-clear !default;

// badge
$badge-border-radius-lg:               $border-radius-lg !default;
$badge-border-radius-clear:               $border-radius-clear !default;

//
$link-color:                          $body-color !default;
$link-hover-color:                    lighten($body-color, 20%)  !default;

// button
$btn-border-width:                    0.0625rem             !default;
$btn-bg:                              transparent           !default;
$btn-bg-active:                       darken($white, 10%)   !default;
$btn-padding-x:                       0.6rem                !default;
$btn-padding-y:                       0.3rem                !default;

$btn-padding-x-lg:                    $btn-padding-x + 0.1rem  !default;
$btn-padding-y-lg:                    $btn-padding-y + 0.1rem  !default;

$btn-padding-x-sm:                    $btn-padding-x - 0.1rem  !default;
$btn-padding-y-sm:                    $btn-padding-y - 0.1rem  !default;


$btn-bg-level:                        -5                                !default;
$btn-border:                          0.25px solid darken($white, 5%)   !default;

$btn-outset-shadow:                   1px 1px 2px black                 !default;
$btn-inset-shadow:                    inset 1px 1px 2px black           !default;
$btn-inset-reverse-shadow:            inset -1px -1px 2px black         !default;

// Close
$close-font-size:                   $font-size-base !default;
