@import "functions";
@import "../variables";

@mixin _alert-head-border-variant($border){
  & .alert-heading{
    border-bottom-color: $border;
  }
}

@mixin _status-variant($bg) {
    color: color-yiq($bg);
    background-color: $bg;

}

@mixin _user-select($select){
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

@mixin _box-shadow($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin _selection($bg_color){
  ::selection, ::-moz-selection{
    background-color: $bg_color;
    color: color-yiq($bg_color)
  }
}

