@mixin alert-head-border-variant($border){
  & .alert-heading{
    border-bottom-color: $border;
  }
}

@mixin status-variant($bg) {
    color: color-yiq($bg);
    background-color: $bg;

}

@mixin user-select($select){
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

@mixin _box-shadow($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}


