.badge {
  padding: $badge-padding-y $badge-padding-x;

  font-size: 60%;
  vertical-align: baseline;


  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}
.status{
  position: relative;
}
.status:before{
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  top: -2px;
  right: -2px;
  background-color: $gray-900;
  border-radius: 50%;
  border: 0.25px solid $gray-100;

}

@each $color, $value in $theme-colors {
  .status-#{$color}:before {
    @include status-variant($value);
  }
}
