<meta charset="utf-8" />

<title>
abcd
</title>

<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<!-- Call App Mode on ios devices -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

<!-- base css -->
<link rel="stylesheet" media="screen, print" href="css/vendors.bundle.css">

<link rel="stylesheet" media="screen, print" href="css/fontawesome_light.css">
<link rel="stylesheet" media="screen, print" href="css/app.bundle.css">

