{{#>
    layouts/main

}}

{{#*inline "styles.scss-block"}}
<!--set your stylesheet code-->
{{/inline}}

{{#*inline "content-block"}}
<h1>hello world</h1>
<!--set your content per page-->
{{/inline}}

{{#*inline "scripts-block"}}
<!--set your script code-->
{{/inline}}

{{/layouts/main}}
