{{#>
layouts/main

}}

    {{#*inline "styles.scss-block"}}
        <!--set your stylesheet code-->
    {{/inline}}

    {{#*inline "content-block"}}

        <a href="reboot.html" class="btn btn-primary">下一页 导航</a>
        <h1>卡片</h1>
        <button class="btn btn-primary"></button>
<div class="card" style="width: 18rem;">
    <div>item1</div>
    <div>item2</div>
    <div>item3</div>

</div>
{{#markdown}}



{{/markdown}}
        <!--set your content per page-->
    {{/inline}}

    {{#*inline "scripts-block"}}
        <!--set your script code-->
    {{/inline}}

{{/layouts/main}}
