@import "../_mixins/functions";
@import "colors";
@import "scales";

/* Bootstrap Reboots ========================*/
$body-bg:    $white  !default;
$body-color:  $gray-900  !default;

$link-color:           $primary !default;
$link-decoration:      none !default;
$link-hover-color:    darken($link-color, 15%) !default;
$link-hover-decoration:        none !default;

$paragraph-margin-bottom: $rem-16  !default;

$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius:  0.25rem !default;
$border-radius-lg: 0.3rem  !default;
$border-radius-sm: 0.2rem  !default;

$rounded-pill: 50rem  !default;
/* End Bootstrap Reboots ========================*/

// Selections
$selection-bg:    $primary  !default;
$body-color:     color-yiq($selection-bg) !default;

// Link
$link-decoration-line:        underline  !default;
$link-hover-decoration-line:        $link-decoration-line;
